.stickWrapper {
    position: relative;
    flex: 0 0 33.3%;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: flex-start;
}

.stick {
    width: 15px;
    background: #333;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}